//  CalcTool.xcconfig
//  PlainCalc2
//
//  Created by James Walker on 3/19/23.
//  
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Deployment
SKIP_INSTALL = YES
COPY_PHASE_STRIP = NO


// Packaging
PRODUCT_NAME = CalcTool
PRODUCT_BUNDLE_IDENTIFIER = com.jwwalker.PlainCalc2.tool
CREATE_INFOPLIST_SECTION_IN_BINARY = YES


// Signing
CODE_SIGN_INJECT_BASE_ENTITLEMENTS = NO
OTHER_CODE_SIGN_FLAGS = $(inherited) -i $(PRODUCT_BUNDLE_IDENTIFIER)
CODE_SIGN_ENTITLEMENTS = CalcTool.entitlements
