// Architectures
	ARCHS = i386 x86_64
	SDKROOT = macosx


// Build Locations
	SYMROOT = ../PlainCalc_build


// Build Options
	GCC_VERSION =
	PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
	DEBUG_INFORMATION_FORMAT = dwarf


// Deployment
	MACOSX_DEPLOYMENT_TARGET = 10.6


// Packaging
	PRODUCT_NAME = PlainCalc
	WRAPPER_EXTENSION = app
	INFOPLIST_FILE = Resources/Info.plist


// Search Paths
	HEADER_SEARCH_PATHS = $(Boost)


// Code Generation
	GCC_SYMBOLS_PRIVATE_EXTERN = YES
	GCC_INLINES_ARE_PRIVATE_EXTERN = YES

