// Architectures
	ARCHS = $(ARCHS_STANDARD)
	SDKROOT = macosx


// Build Locations
	SYMROOT = ../PlainCalc_build


// Build Options
	GCC_VERSION =
	PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
	DEBUG_INFORMATION_FORMAT = dwarf


// Deployment
	MACOSX_DEPLOYMENT_TARGET = 10.15
	STRIP_INSTALLED_PRODUCT = YES
	COPY_PHASE_STRIP = NO

// Linking
	DEAD_CODE_STRIPPING = YES

// Packaging
	PRODUCT_NAME = PlainCalc
	WRAPPER_EXTENSION = app
	PRODUCT_BUNDLE_IDENTIFIER = com.jwwalker.PlainCalc2

// Search Paths
	HEADER_SEARCH_PATHS = $(Boost)
	ALWAYS_SEARCH_USER_PATHS = NO

// Code Generation
	GCC_SYMBOLS_PRIVATE_EXTERN = YES
	GCC_INLINES_ARE_PRIVATE_EXTERN = YES

// Language
	CLANG_CXX_LANGUAGE_STANDARD = gnu++17
	CLANG_CXX_LIBRARY = libc++
	CLANG_ENABLE_OBJC_ARC = YES
	CLANG_ENABLE_OBJC_WEAK = YES

// Preprocessing
	GCC_PREPROCESSOR_DEFINITIONS = API_TO_BE_DEPRECATED=10.15

// Asset Catalogn Compiler Options
	ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

// Signing
	ENABLE_HARDENED_RUNTIME = YES
	CODE_SIGN_STYLE = Automatic
	CODE_SIGN_IDENTITY = Apple Development
	DEVELOPMENT_TEAM = FDHC2KMZ6V

// Info.plist
	GENERATE_INFOPLIST_FILE = YES
	INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.utilities
	INFOPLIST_KEY_NSHumanReadableCopyright = © James W. Walker, 2006-2023
	INFOPLIST_KEY_NSMainNibFile = MainMenu
	INFOPLIST_KEY_NSPrincipalClass = NSApplication

// Versioning
	MARKETING_VERSION = 2.5.1
	CURRENT_PROJECT_VERSION = 3.3

